<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    {{#if errorMessage}}
    <div style="border: 1px solid red">
        {{errorMessage}}
    </div>
    {{/if}}
    {{#if successMessage}}
      <div style="border: 1px solid green">
      {{successMessage}}
      </div>
    {{/if}}

   <nav>
   {{#if currentUser}}


    <h3>Hello, {{currentUser.username}}</h3>

    <form action="/logout" method="POST">
        <button>Logout</button>
    </form>

    
    {{else}}


   
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
 


    {{/if}}
      <a href="/secret">Secret Page</a>
      <a href="/celebrities">See Celebrities</a>
      <a href="/celebrities/create">Add a new celebrity</a>

      
      <a href="/movies">See movies</a>
      <a href="/movies/create">Add a new Movie</a>

  
    </nav>


    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
